@(changePasswordForm:Form[ChangePasswordDetails])(implicit message:Messages, flash:Flash)
@main("Password change Page") {


<h1 style="text-align:center;">Change Password</h1>
<br>
<br>
<form style="text-align:center" name="changePasswordForm" action="@routes.Authentication.changePasswordSubmitController" method="post">
    <table class="table table-bordered" style="width:30%;margin-left: auto;margin-right: auto;">
        <tr>
            <td>
                New Password:
            </td>
            <td>
                <input type="password" field="@changePasswordForm" name="newPassword" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                Confirm Password:
            </td>
            <td>
                <input type="password" field="@changePasswordForm" name="confirmPassword" class="form-control">
            </td>
        </tr>

    </table>

    <input type="submit" value="Submit" name="submit" class="btn btn-primary">
    <br><br>
    <p style="color:red"> @flash.get("error") </p>
</form>

}