@(forgotPasswordForm:Form[ForgotPasswordDetails])(implicit message:Messages)
@main("Forgot Password Page") {


<h1 style="text-align:center;">Forgot Password</h1>
<br>
<br>
<form name="forgotPasswordForm" action="@routes.Authentication.changePasswordController" method="get">
    <table class="table table-bordered"  style="width:30%;margin-left: auto;margin-right: auto;">
        <tr >
            <td>
                Email:
            </td>
            <td>
                <input type="text" field="@forgotPasswordForm" name="email" class="form-control">
            </td>
        </tr>

    </table>
<center>
    <input type="submit" value="Submit" name="submit" class="btn btn-primary">
</center>
    <br>
</form>

}